@import url('https://googleapis.com');

header{
    display:flex;
    align-items:center;
    justify-content:space-between;

    background:#6cf75d;

    padding:0 30px;

    height:80px;
}
/* LOGO */

.logo {

    display: flex;

    align-items: center;

    gap: 12px;
    font-family: 'Russo One', sans-serif;
}

.preto { 
    color: black;




}

.logo img {

    height: 55px;
}

.logo span {

    color: white;

    font-size: 24px;

    font-weight: 700;
}

/* MENU */

nav {

    display: flex;

    gap: 40px;
}

nav a {

    text-decoration: none;

    color: rgb(0, 0, 0);

    font-weight: 500;

    transition: .3s;
}

nav a:hover {

    color: #6cf75d;
}

/* BOTÕES */

.actions {

    display: flex;

    align-items: center;

    gap: 20px;
}

.login {

    color: rgb(0, 0, 0);

    text-decoration: none;

    font-weight: 500;

    padding: 14px 26px;
}

.register {

    text-decoration: none;

    background: white;

    color: black;

    padding: 14px 26px;

    border-radius: 999px;

    font-weight: 600;

    transition: .3s;
}